.content
  %h1
    Welcome to MapMaker v1.0,
  %p
    based upon the work of
    %a{title: 'Original source', href: 'https://github.com/mewo2/terrain'} Martin O'Leary
  %button{id: 'generate-map'} Generate Map

  %svg{width: "800", id: 'map'}
  :JavaScript
    $('#generate-map').on("click", function () {
      doMap(d3.select('#map'), detailedParams);
    });
