.core-template
  %h1
    Welcome to MapMaker v1.0
  .sidebar
    %p
      This is the list of every map saved with this system. Eventually I'll add
      methods to edit region names and cities, add descriptions and such to them
      but for now this will do.
  .main-content
    %table.table-striped.table-bordered.table-hover
      %tbody
        %tr
          %th
            id
          %th
            name
          %th
            description
        -@maps.each do |map|
          %tr
            %td
              =map.id
            %td
              =link_to map.name, map_path(map)
            %td
              =truncate(map.description, length: 50)
