.core-template
  %h1
    Welcome to MapMaker v1.0
  .sidebar
    %p
      You can toggle the visibility of the region names and cities, in case they are covering up
      something interesting, but they will be saved in either case.
    %p
      You can also click on a name to change it before saving it. After that it becomes more difficult to change.
      In the same way, you can change the size of a city by clicking on the circle.

  %button{id: 'generate-map'} Generate Map
  %button{id: 'toggle-regions'} Toggle Regions
  %button{id: 'toggle-cities'} Toggle Cities
  %button{id: 'toggle-rivers'} Toggle Rivers
  %button{id: 'save-map'} Save map

  .main-content
    .form{id: 'map-form'}
      =form_for(@map) do |f|
        =f.label :name
        =f.text_field :name
        %br
        =f.label :description
        =f.text_area :description
    .new-map
      %svg{width: "800", id: 'map'}
