- if @map.island?
  %style{:type => "text/css"}
    ='path.coast {fill: white;}'.html_safe
    ='svg {background-color: blue;}'.html_safe
.core-template
  %h1
    =@map.name
  .sidebar
    %p
      %table.table-striped.table-bordered.table-hover.table-centered
        %tbody
          %tr
            %th
              name
            %th
              pop
            %th
              color
          -@map.cities.each do |city|
            %tr{class: "x-highlight-city", data: {city: "#{city.name}"}}
              %td
                =city.name
              %td
                =city.population
              %td{style: "background: #{city.color}"}
      =@map.description
  .main-content
    %button{id: 'toggle-regions'} Toggle Regions
    %button{id: 'toggle-cities'} Toggle Cities
    %button{id: 'toggle-rivers'} Toggle Rivers

    =@map.svg.html_safe
