.core-template
  %h1
    =@map.name
  .sidebar
    %p
      %table.table-striped.table-bordered.table-hover.table-centered
        %tbody
          %tr
            %th
              name
            %th
              pop
          -@map.cities.each do |city|
            %tr{class: "x-highlight-city", data: {city: "#{city.name}"}}
              %td
                =city.name
              %td
                =city.population
      =@map.description
  .main-content
    %button{id: 'toggle-regions'} Toggle Regions
    %button{id: 'toggle-cities'} Toggle Cities
    %button{id: 'toggle-rivers'} Toggle Rivers

    =@map.svg.html_safe
