.core-template
  %h1
    Welcome to MapMaker v1.0
  .main-content
    %p.text-left
      While using another map making program for a Godbound game I'm running, I
      realized I really wanted a mapping system that didn't limit me to hexes,
      and could randomly generate new terrains with some sort of logic to them.
      Mountains creating lush forests on the side facing the ocean, and deserts
      on the other, for example. While I'm a web developer by trade, that sort
      of climate simulation math is beyond anything I've done before, so I wasn't
      really expecting I'd be able to do it any time soon.
    %p.text-left
      That was when I ran across an article on National Geographic where
      %a{href: 'https://mewo2.com/notes/terrain/', target: '_blank'}
        Martin O'Leary
      explained how he built the maps for his Twitter bot,
      %a{href: 'https://twitter.com/unchartedatlas', target: '_blank'}
        @unchartedatlas
      , and since he open sourced his code, it seemed like a great starting point
      for what I wanted to do. So I built this site, made some changes and tweaks,
      and open sourced it on
      %a{href: 'https://github.com/nextekcarl/Mapmaker', target: '_blank'}
        Github.
