body {
  padding-top: 5rem;
}
.core-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

div.sidebar {
  float: left;
  width: 15%;
  min-width: 150px;
  text-align: left;
}

div.main-content {
  float: left;
  width: 84%;
  min-width: 350px;
}

/*map stuff*/
path, line {
    fill: none;
    stroke: black;
    stroke-linecap: round;
}

.field {
    stroke: none;
    fill-opacity: 1.0;
}

.slope {
    stroke-width: 1;
}

path.river {
    stroke-width: 2;
    stroke: blue;
}

.coast {
    stroke-width: 4;
}

.border {
    stroke-width: 5;
    stroke-dasharray: 4,4;
    stroke-linecap: butt;
    stroke: red;
}

text {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: black;
    stroke: white;
    stroke-width: 5;
    stroke-linejoin: round;
    paint-order: stroke;
}

text.region {
    stroke-width:10;
    font-variant: small-caps;
}

svg {
    background-color: white;
}

table.table-centered {
  margin-right: auto;
  margin-left: auto;
}

#loading-indicator {
  position: fixed;
  left: 10px;
  top: 60px;
}
